<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1 class="mb-5">Program Blog</h1>
      <div>
        <%= link_to "入場", blogs_path %>
      </div>
    </div>
  </div>
</div>

